@model Tournament

<div class="container-fluid bg-full-black rounded-3">
    <div class="row d-flex justify-content-center bg-transparent pt-5 pb-3 px-5">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1 class="text-white mb-5 text-center">@Model.Title</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-3 text-grey">
                        <div class="mb-3 lh-1">
                            <span>Организатор: @Model.OwnerId</span>
                        </div>
                        <div class="mb-3 lh-1">
                            <i class="bi bi-house"></i>
                            <span>@Model.Address</span>
                        </div>
                        <div class="mb-3 lh-1">
                            <i class="bi bi-calendar-check"></i>
                            <span>@Model.Date.ToString("g")</span>
                        </div>
                        <div class="lh-1">
                            <i class="bi bi-person"></i>
                            <span>@Model.RegisteredParticipant/@Model.AvailableParticipant</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row mb-3">
                        <img src="@Model.ImageUrl" alt="tournament" class="img-fluid w-100">
                    </div>
                    <div class="flex-row float-end">
                        <a asp-area="" asp-controller="" asp-action="" class="btn purple-btn-custom ms-auto">Присоединиться</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 class="text-white mb-3">Описание</h2>
                <div class="mb-3 lh-1 text-grey">
                    <span>@Model.Description</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center bg-transparent py-3 px-5">
        <div class="col text-white">
            <h2>Участники</h2>
            <div class="container table-responsive py-5">
                <table class="table table-bordered table-hover text-white">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Игрок</th>
                        <th scope="col">HIN</th>
                        <th scope="col">ELO</th>
                        <th scope="col">Фракция</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var participant in @Model.Participants)
                    {
                        <tr>
                            <th scope="row">@participant.UserName</th>
                            <td>TODO</td>
                            <td>TODO</td>
                            <td>@participant.Fraction</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>