@using WarhammerTournaments.Data
@model IEnumerable<Tournament>


<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        @foreach (var tournament in Model)
        {
            <div class="col">
                <div class="card mb-4 p-1 mb-xl-0 bg-full-black text-white rounded-2">
                    <a asp-area="" asp-controller="Tournaments" asp-action="Details" asp-route-id="@tournament.Id">
                        <img src="@tournament.ImageName" alt="tournament" class="img-fluid w-100 rounded-top-3">
                    </a>
                    <div class="card-body">
                        <h3 class="mb-4">
                            @tournament.Title
                        </h3>
                        <div class="mb-3">
                            <div class="mb-3 lh-1">
                                <i class="bi bi-house text-blue"></i>
                                <span class="text-white">@tournament.Address</span>
                            </div>
                            <div class="mb-3 lh-1">
                                <i class="bi bi-calendar-check text-green"></i>
                                <span class="text-white">@tournament.Date.ToString("g")</span>
                            </div>
                            <div class="lh-1">
                                <i class="bi bi-person text-yellow"></i>
                                <span class="text-white">@tournament.RegisteredParticipant/@tournament.AvailableParticipant</span>
                            </div>
                        </div>
                        <div class="row ms-auto">
                            <a asp-area="" asp-controller="Tournaments" asp-action="Join" asp-route-id="@tournament.Id" class="btn purple-btn-custom ms-auto">Присоединиться</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>